@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Poppins", serif;
}

.bg {
  background-image: linear-gradient(
      rgba(42, 41, 41, 0.668),
      rgba(42, 41, 41, 0.668)
    ),
    url("../src/assets/Hero1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg1 {
  background-image: linear-gradient(rgba(4, 0, 59, 0.704), rgb(4, 0, 59)),
    url("../src/assets/product_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
